@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@100&family=Readex+Pro:wght@200&display=swap');

.itemListContainer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    margin-top: 1rem;
    margin-left: 1rem;
    
}

.item-individual{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.imagenProducto{
    margin-top: -1rem;
    margin-bottom: -1.75rem;
    padding: 1rem;
}

.card-body{
    margin: 0rem;
    padding: 0rem;
}

.card-title{
    margin: 0rem;
    color: #000000;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    color:rgb(250, 116, 62)
}

.itemListLoading{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.card-text{
    margin: 0rem;
    margin-bottom: 1rem;
    color: #000000;
    font-family: 'Kanit', sans-serif;
    font-weight: lighter;
    font-weight: bold;
}

button{
    margin-bottom: 0.5rem;
    font-family: 'Kanit', sans-serif;
}

.itemImg{
    height: auto;
    width: 40%;;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.buttonDetalle{
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.25rem;
}

.buttonFinal{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 0.25rem;
}

.listaCart{
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: 100%;
    border: 1px solid black;
    margin: 1rem;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}


.cartImagen{
    width: 50%;
}

.totalCompra{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.deleteItem{
    font-size: 1rem;
    border: none;
}

.deleteItem:hover{
    background-color: rgb(250, 116, 62);
    border: none;
}

.cantidadWidget{
    font-size: 1rem;
    margin-top: 2rem;
    background-color: rgb(250, 116, 62);
    width: 1.5rem;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: black
}

.carritoVacio{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}



