@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Readex+Pro:wght@200&display=swap');

.logo-imagen{
    margin-top: -1rem;
    margin-bottom: -1rem;
    width: 8rem;
    height: 8rem;
}

.tituloCategoria{
    color: whitesmoke;
    padding: 1rem;
    font-size: 1.25rem;
}

.tituloCategoria:hover{
    color:rgb(250, 116, 62)
}